.hero
{
    background-image: url("/assets/Img/chanbora-chhun-Zb-0ZtMpWvk-unsplash.jpg");
}

#hero p 
{
    text-align: center;
}
/*
.header-img {
    background-image: url("/_Archive/assets/img/JW.png");
}*/

/*header {
    responsive
}*/

/* #row skills-content
{
    top: 10;
} */
/* #endregion */
