@{
    ViewData["Title"] = "Classmates";
}


<!-- ======= Classmate Section ======= -->
<section id="classmates" class="classmates section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Full-Stack Development Course</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="classmates-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="classmate-item" data-aos="fade-up">

                        <img class="classmate-img img-fluid" src="~/assets/img/classmates/_MissingHeadshot.jpg" alt="">
                        <h3>Zachary(Zach) Barkoviak</h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End classmate item -->

                <div class="classmates-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="100">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Casey.jpg" alt="">
                            <h3>Casey Brown</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="200">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Storm.jpg" alt="">
                            <h3>Storm Agnew</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">
                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Matt.jpg" alt="">
                            <h3>Matt Jennings</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Sean.jpg" alt="">
                            <h3>Sean Coyan</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Paige.jpg" alt="">
                            <h3>Paige Scott</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Brittany.jpg" alt="">
                            <h3>Brittany Dodd</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Devin.jpg" alt="">
                            <h3>Devin Kuhlman</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/Kurtis.jpeg" alt="">
                            <h3>Kurtis Caldwell</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/_MissingHeadshot.jpg" alt="">
                            <h3>Dylan Poole</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/_MissingHeadshot.jpg" alt="">
                            <h3>Juno Lewis</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="300">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/_MissingHeadshot.jpg" alt="">
                            <h3>Jacquelyn Little</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                    <div class="swiper-slide">
                        <div class="classmate-item" data-aos="fade-up" data-aos-delay="400">

                            <img class="classmate-img img-fluid" src="~/assets/img/classmates/_MissingHeadshot.jpg" alt="">
                            <h3>Dawson Meier</h3>
                            <h4>Student</h4>
                        </div>
                    </div><!-- End classmate item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>
</section><!-- End classmates Section -->