@{
    ViewData["Title"] = "Email Confirmation";
}
<div class="row text-center">
    <h1>Email Sent</h1>
    <h4 class="mt-3 mb-5">
        Your message has been sent. <span>Thank you!</span></h4>
    <p> I will respond to the provided Email as soon as possible. <a asp-action="Index">Return to Home Page</a></p>
</div>
