@{
    ViewData["Title"] = "Home";
}

@section hero{

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>John Walls</h1>
            <p><span class="typed" data-typed-items="Full-Stack Developer"></span></p>
        </div>
    </section><!-- End Hero -->
}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>
                    Hi, my name is John Walls, and I am pursuing the Full-Stack Web Developing class given by Centriq Training. Before, I pursued this career path, I was in the Health Care field as a Certified Nursing Assistant (CNA), working in the Kansas City metro area. I graduated with the class of 2019 from Blue Valley Northwest Highschool with interests in English Language Arts & Pyschology while parcipating in Football, Basketball, Wrestling, and Baseball through the schools team(s) for all 4 years.

                </p>
                <br />
                <p>
                    Since, then I have worked multiple jobs such as, UI Designer / Analytics Designer, Landscaping, CNA, etc. I enjoy watching movies, shows, and trying out a new niche including photography, movie development, comic book sales and more! In my free time I love to golf or go out with friends and family or spending the day to learn a new instrument or recording / writing songs. (i.e., piano & guitar)
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="~/assets/img/profile-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Personal Information</h3>
                    <br></br>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <a href="www.jpwalls.com">www.jpwalls.com</a></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+913 626-0637</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Overland Park, KS</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>AAS in computer science</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong><a href="mailto:jpwalls08@gmail.com">jpwalls08@gmail.com</a></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>N/A</span></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li>Solid foundational knowledge in the Frontend, Middle Tier, and Backend; designing and developing Full-Stack web applications using .NET framework.</li>
                        <li>Recognized by professors for outstanding problem solving skills and demonstrated work ethic.</li>
                        <li>Enjoy challenging myself by applying a new skill set or project</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -d->
    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Facts Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <li>*I have given a 20% margin due to not having any work experience to apply these concepts. 80% will be the highest for these skill-sets until further experience in the "Real World".*</li>
                <li>I would like to emphasize that the back-end and middle-tier are my strengths when it comes to Full-Stack Development.</li>
            </div>

            <div class="row skills-content mb-lg-1">

                <div class="col-3" data-aos="fade-up">

                    <h3>Front-End</h3>
                    <div class="progress mt-lg-4">
                        <span class="skill mb-1">HTML <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">CSS <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">Jquery <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">Jquery UI <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar " role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">JavaScript <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">CSS3 <i class="val">65%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <h3>Middle-Tier</h3>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress mt-lg-4">
                        <span class="skill mb-1">C#.NET <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">ASP.NET <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">MVC <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">Visual Studio <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">LINQ <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">EF <i class="val">0%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <h3>Back-End</h3>
                    <div class="progress mt-lg-4">
                        <span class="skill mb-1">ADO.NET <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">SSMS <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">SQL <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress mt-1">
                        <span class="skill mb-1">SQL Server<i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>John Walls</h4>
                        <p><em>Innovative and deadline-driven Full-Stack Developer with 1+ years of entry-level experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable with a solid understanding on Full-Stack Development.</em></p>
                        <ul>
                            <li>Residency: Overland Park, KS</li>
                            <li>Phone: (913) 626-0637</li>
                            <li>Email: <a href="mailto:jpwalls08@gmail.com">jpwalls08@gmail.com</a></li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>AAS in Computer Science &amp; IT</h4>
                        <p><em>Centriq Training: IT Career Training | Corporate IT Training<br \>1740 W 92 St #300, Kansas City, MO 64114</em></p>
                        <h5>August 2022 - November 2022</h5>
                        <ul>
                            <li>MVC Framework</li>
                            <li>Troubleshooting & Debugging</li>
                            <li>Source Control</li>
                            <li>Agile/Scrum(Created Team Project)</li>
                            <li>Website Deployment</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                            <li>Professionalism, Teamwork, Problem Solving & Effective Communication</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Nursing &amp; Electrocardiograph Certified </h4>
                        <p><em>Mid-America College of Health Sciences<br />10000 W 75th St #241, Merriam, KS 66204</em></p>
                        <h5>November 2021 - January 2022</h5>
                        <br />
                        <h5>January 2022 - April 2022</h5>
                        <ul>
                            <li>Certified Nursing Assistant Certification</li>
                            <li>Electrocardiograph Certification</li>
                            <li>BLS Certified (AHA)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Grass Masters</h4>
                        <p><em>Overland Park, KS</em></p>
                        <h6>Landscaper</h6>
                        <h5>June 2022 - August 2022</h5>
                        <ul>
                            <li>Assist with all lawn care customer needs such as mowing, mulching, patio/backyard upkeep</li>
                            <li>Maintain thorough organization within all jobs to provide best service and results</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>IntelyCare &amp; Benton House</h4>
                        <em>Overland Park, KS</em>
                        <p><em>Lawrence, KS</em></p>
                        <h6>Certified Nursing Assistant</h6>
                        <h5>March 2022 - August 2022</h5>
                        <ul>
                            <li>Assist all nurses and additional medical staff with caring for all patients and responding to patient needs (i.e., bathing, toileting, feeding, etc.)</li>
                            <li>Due to COVID-19 staffing - oversee care of 15-21 patients independently and efficiently</li>
                            <li>Promptly and accurately document all vitals and information as needed for medical staff reference</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>AutoAlert, LLC</h4>
                        <p><em>Kansas City, MO</em></p>
                        <h6>IT Intership &amp; Analytics Designer</h6>
                        <h5>May 2018 - August 2018</h5>
                        <br />
                        <h5>November 2019 - March 2020</h5>
                        <ul>
                            <li>Participated in developing and reporting analytics.</li>
                            <li>Assisted with creating widgets for the UI / GUI</li>
                            <li>Managed Geolocating Customer in Customer Information via El Torro and properly documented within database</li>
                            <li>Basic training in security monitoring and troubleshooting computer problems</li>
                            <li>Collaborated with senior IT colleagues in the API and studied the data within their database</li>
                            <li>Worked with company standard programs such as <em>AlertMiner &amp; CXM</em> to update customer data and ticketing</li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <h4>FedEx</h4>
                        <p><em>Olathe, KS</em></p>
                        <h6>Package Handler</h6>
                        <h5>March 2018 - November 2019</h5>
                        <ul>
                            <li>Unloaded packages off conveyer belts and transffered them to the shipping vans</li>
                            <li>Assisted with creating widgets for the UI / GUI</li>
                            <li>
                                Managed Geolocating Customer in Customer Information via El Torro and properly
                                documented within database
                            </li>
                            <li>Basic training in security monitoring and troubleshooting computer problems</li>
                            <li>Collaborated with senior IT colleagues in the API and studied the data within their database</li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <h4>Green Lantern</h4>
                        <p><em>Overland Park, KS</em></p>
                        <h6>Package Handler</h6>
                        <h5>2015 - 2016</h5>
                        <ul>
                            <li>Maintained cleanliness and care of vehicle interiors</li>
                            <li>Complied with all company and customer policies</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
            <div class="col-lg-6" data-aos="fade-up"></div>
            <div class="section-title">
                <h2>Portfolio</h2>
                <div class="portfolio-item"></div>
                <h3>Development Projects</h3>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Personal Projects</li>
                        <li data-filter=".filter-card">Group Projects</li>
                        <li data-filter=".filter-web"></li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/JW.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Personal Website"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/projects/2.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Store Front"><i class="bx bx-plus"></i></a>
                            <a target="_blank" href="https://github.com/jpwalls08/StoreFront.git" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/projects/DungeonApp.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a target="_blank" href="~/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon App"><i class="bx bx-plus"></i></a>
                            <a target="_blank" href="https://github.com/jpwalls08/Dungeon.git" class="github" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/projects/PokerApp.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Poker App"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ToDoAPI"><i class="bx bx-plus"></i></a>
                            <a target="_blank" href="https://github.com/jpwalls08/ToDoAPI.git" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">ReactJS</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Bootstrap</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">Jquery</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">HTML</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">JavaScript</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">CSS</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">SSMS</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">FileZila</a></h4>
                    <p class="description">Used to launch my website</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">Jquery</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">HTML</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">JavaScript</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">CSS</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    @{
    ViewData["Title"] = "Classmates";
}

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Classmates</h2>
            @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Zach.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.ZachBarkoviak.com">Zach Barkoviak</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Casey.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.SomethingCachey.com">Casey Brown</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Storm.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.StormyCoding.com">Storm Agnew</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Matt.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.MatthewJennings.net">Matthew (Matt) Jennings</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Sean.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.SeanCoyan.com">Sean Coyan</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->
                
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Paige.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.ReadyPaigeOne.com">Paige Scott</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Brittany.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.BrittanyDodd.net">Brittany Dodd</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Devin.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.DevinKuhlman.com">Devin Kuhlman</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Kurtis.jpeg" class="testimonial-img" alt="">
                        <h3><a href="http://www.KurtisCaldwell.com">Kurtis Caldwell</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Dylan.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.DylanPoole.com">Dylan Poole</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Juno.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.JLewisInquiry.com">Juno Lewis</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Jacquelyn.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.JacquelynLittle.com">Jacquelyn Little</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        @*<p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                        <img src="~/assets/img/classmates/Dawson.jpg" class="testimonial-img" alt="">
                        <h3><a href="http://www.DawsonMeierDev.net">Dawson Meier</a></h3>
                        <h4>Student</h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Please reach out for any further questions.</p>
        </div>

        <div class="row" data-aos="fade-in">

            <!-- <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div>

            </div> -->

            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->